<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <div class="error">
        <h1>error in submiting this form</h1>
        <a href="/"><button>Home</button></a>
    </div>
</body>
</html>